<div class="aside">
  <p id="notice"><%= notice %></p> 
    <h1>Rooms</h1>
  <div class="room-grid">
      <% @rooms.each do |room| %>
   <ul>
    <li><%= link_to("#{room.name}", room_path(room)) %></li>
    <li> <%= link_to 'Edit', edit_room_path(room) %></li>
    <li> <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></li> 
    <hr>   
  </ul>
    <% end %>
  </div>
</div>

